<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/teste</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">dds3@1</property>
  <property name="hibernate.connection.pool_size">30</property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  
  <mapping class="br.com.opengti.domain.Aluno"/>
  <mapping class="br.com.opengti.domain.Funcionario"/>
  <mapping class="br.com.opengti.domain.Curso"/>
  <mapping class="br.com.opengti.domain.Disciplina"/>
  <mapping class="br.com.opengti.domain.Livro"/>
  <mapping class="br.com.opengti.domain.Professor"/>
  <mapping class="br.com.opengti.domain.Pessoa"/>
  <mapping class="br.com.opengti.domain.Papel"/>
  <mapping class="br.com.opengti.domain.Regra"/>
  <mapping class="br.com.opengti.domain.Comentario"/>
  
 </session-factory>
</hibernate-configuration>
